.sidepanel-container{
    width: 0em;
    position: fixed;
    height: 100%;
    background-color: pink;
}
.product-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
}
.single-product{
    background-color: aqua;
    box-shadow: -10px 11px 7px -3px rgba(0,0,0,0.28);
    -webkit-box-shadow: -10px 11px 7px -3px rgba(0,0,0,0.28);
    -moz-box-shadow: -10px 11px 7px -3px rgba(0,0,0,0.28);
    display: flex;
    justify-content:  flex-start;
    align-items: center;
    flex-direction: column;
}
.single-product-img{
    height: 400px;
    width: 100%;
    overflow: hidden;
    object-fit: cover;
}
@media only screen and (max-width: 600px) {
  .product-wrapper{
    grid-template-columns: 1fr 1fr;
}
}
@media only screen and (max-width: 400px) {
.product-wrapper{
    grid-template-columns: 1fr;
}
}
